
<!-- <footer class="blog-footer">
  <p>User Field <a href="#">Virtualconnection</a> by <a href="#">@virtualconnection</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer> -->

<% include ./script %>