<% include ../index.ejs %>
<% include  ../middleware/searchbar %>
<% include  ../include/navbar %>

<style>
    .crisp {
        vertical-align: middle;
        width: 20%;
        height: 50%;
        border-radius: 50%;
    }
</style>

<div class="container-fluid">



    <div class="row">
        <div class="col-md-4 order-md-1">
            <div class="my-3 p-3 bg-white rounded shadow-sm border border-dark">
                <ul class="list-group">
                    <!-- user details quotes -->
                    <footer class="blockquote-footer">
                        <small>
                            Profile of <cite title=" user.email " class="text-success" id="user_name"> user.name </cite>
                        </small>
                    </footer>
                    <!-- End user details quotes -->

                    <!-- Profile Image -->
                    <li class="card pmd-card">
                            <div class="card-body d-flex flex-row">

                                <!-- Card Media -->
                                <div class="media-body">
                                    <img src="http://propeller.in/assets/images/profile-pic.png" class="img-fluid" style="border-radius: 5%;">
                                </div>

                                <!-- Card Actions -->
                                <div class="d-flex flex-column ml-3">
                                    <a class="badge badge-light"><i class='fab fa-facebook-f'></i></a>
                                    <a class="badge badge-pill"><i class='fab fa-instagram'></i></a>
                                    <a class="badge badge-pill"><i class='far fa-heart'></i></a>
                                        
                                </div>

                            </div>

                            <small class="text-right">
                                <button type="submit" class="btn btn-link btn-sm" data-toggle="modal"
                                    data-target="#avtarModel">change avtar</button>
                            </small>
                        </li>
                    <!-- Profile Image -->

                </ul>


                <!-- little information about user -->
                <ul class="list-group-item list-group mb-1 mt-3">
                    <li class=" d-flex justify-content-between bg-light">
                        <div>
                            <h6 class="my-0">User ID: </h6>
                        </div>
                        <span class="text-muted"> user.id </span>
                    </li>
                    <li class=" d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">Username: </h6>
                        </div>
                        <span class="text-muted"> user.username </span>
                    </li>
                </ul>
                <!-- End little information about user  -->

            </div>
        </div>

        <!-- Write your post  -->
        <div class="col-md-8 order-md-2">
                <% include ../middleware/messages %>

            <div class="my-3 p-3 bg-white rounded shadow-sm card">


                <h4 class="mb-3">post your status</h4>
                <hr class="mb-4">
                <ul class="list-group mb-2">
                    <li class="justify-content-between list-group-item d-flex  bg-light">
                        <div class="profile_elements">

                            <span class="font_awsome" data-toggle="tooltip" data-placement="top" title="write post"
                                onclick="selectTextarea()"><i class="fa fa-pencil-square-o"></i></span>

                            <span class="font_awsome" data-toggle="tooltip" data-placement="top" title="upload image"><i
                                    class="fa fa-camera"></i></span><small class="image_upload_text"></small>
                            <input type="file" name="" id="select_image">

                        </div>
                        <span class="text-muted blockquote-footer">free to post</span>
                    </li>


                </ul>
            </div>
            <!-- End write your post  -->


            
            <!-- show All Post -->
            <div class="my-3 p-3 bg-white rounded box-shadow card">
                <p class="border-bottom border-gray pb-2 mb-2">All your posts</p>

                <div class="card  mb-2">
                    <div class="card-body">

                        <br>
                        <p class="card-text pl-4"> user.post </p>
                    </div>

                </div>

            </div>
            <!-- End show All Post -->
        </div>
    </div>


    <!-- If no user found -->
    <div class="my-5 p-3 bg-white rounded shadow-sm">
        <p class="text-center">No users Found</p>
    </div>
    <!-- End If no user found -->

</div>

<!-- //////////////////    MODAL AVTAR      //////////////////////////////// -->





<% include ../include/footer %>