<nav class="navbar navbar-expand navbar-light bg-light justify-content-start">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
          <a href="#" title="virtualconnection"><img src="../../assets/img/gmail.png" alt="logo" style="width:40px;"></a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar6">
          <form class="mx-2 my-auto d-inline w-100">
            <input type="text" class="form-control border border-right-0" placeholder="Search...">
          </form>
        </div>
      </nav>